.login-icon {
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    max-width: 13px;
    fill: var(--white);
}
.down-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 12px;
    height: 7px;
    max-width: 12px;
    fill: var(--white);
}
.search-icon {
    display: inline-block;
    width: 23px;
    height: 22px;
    max-width: 23px;
    fill: var(--white);
}